{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="{% static 'img/core-img/load_coin.png' %}" alt="">
    </div>


    {% include 'partials/_busca.html' %}
    {% include 'partials/_menu.html' %}

    <!-- ##### Cripto Area Start ##### -->
    <section class="best-receipe-area">
        <div class="container">
            <div class="row">
                {% if criptos %}
                {% for item in criptos %}
                <!-- Single Cripto Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-best-receipe-area mb-30">
                        {% if item.crito_image == '' %}
                            <img src="{% static 'img/bg-img/cripto.png' %}" alt="">
                        {% else %}
                            <img src="{{ item.crito_image.url }}" alt="">
                        {% endif %}
                        <div class="receipe-content">
                            <a href="{% url 'criptomoedas' item.id %} ">
                                <h5>{{ item.cripto_name }}</h5>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                {% endif %}
            </div>
        </div>
    </section>
    <!-- ##### Cripto Area End ##### -->

    <!-- ##### Pagination ##### -->
    <section class="top-catagory-area section-padding-20-0">
        <div class="container">
            {% if criptos.has_other_pages  %}
            <ul class="pagination">
                {% if criptos.has_previous %}
                <li class="page-item">
                    <a href="?page={{ criptos.previous_page_number }}" class="page-link">&laquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">&laquo;</a>
                </li>
                {% endif %}
                {% for pagina in criptos.paginator.page_range %}
                {% if criptos.number == pagina %}
                <li class="page-item active">
                    <a class="page-link">{{ pagina }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a href="?page={{ pagina }}" class="page-link">{{ pagina }}</a>
                </li>
                {% endif %}
                {% endfor %}
                {% if criptos.has_next %}
                <li class="page-item">
                    <a href="?page={{ receitas.next_page_number }}" class="page-link">&raquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">&raquo;</a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </section>
    <!-- ##### Pagination End ##### -->

    {% include 'partials/_footer.html' %}
{% endblock %}